<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ClienteMapper">

	<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
			select
			c.nombre AS clienteNombre,
			c.documento,
			c.telefono,
			c.direccion,
			c.email,
			c.vetado,    
			ir.id as itemRentadoID,
			ir.fechainiciorenta,
			ir.fechafinrenta,   
			i.id as itemID,
			i.nombre AS itemNombre,
			i.descripcion as itemDescripcion,
			i.fechalanzamiento,
			i.tarifaxdia,
			i.formatorenta,
			i.genero,
			ti.id as tipoItemID,
			ti.descripcion  as tipoItemDescripcion
			FROM VI_CLIENTES as c 
			left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
			left join VI_ITEMS as i on ir.ITEMS_id=i.id 
			left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
	</select>
	
	
	<select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
			select
			c.nombre AS clienteNombre,
			c.documento,
			c.telefono,
			c.direccion,
			c.email,
			c.vetado,    
			ir.id as itemRentadoID,
			ir.fechainiciorenta,
			ir.fechafinrenta,   
			i.id as itemID,
			i.nombre AS itemNombre,
			i.descripcion as itemDescripcion,
			i.fechalanzamiento,
			i.tarifaxdia,
			i.formatorenta,
			i.genero,
			ti.id as tipoItemID,
			ti.descripcion  as as tipoItemDescripcion
			FROM VI_CLIENTES as c 
			left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
			left join VI_ITEMS as i on ir.ITEMS_id=i.id 
			left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
			where c.documento = #{idcli}
	</select>
	
	<select id="consultarItemsCliente" parameterType="map" resultMap="ItemRentadoResult">
		select       
	    ir.id as itemRentadoID,
	    ir.fechainiciorenta ,
	    ir.fechafinrenta ,    
	    i.id as itemID,
	    i.nombre as itemNombre,
	    i.descripcion as itemDescripcion,
	    i.fechalanzamiento as fechalanzamiento,
	    i.tarifaxdia ,
	    i.formatorenta ,
	    i.genero ,        
	    ti.id as tipoItemID ,
	    ti.descripcion     as tipoItemDescripcion
	    FROM VI_CLIENTES as c 
	    left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
	    left join VI_ITEMS as i on ir.ITEMS_id=i.id 
	    left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
		WHERE c.documento=#{docuCliente}
	</select>
	
	
	
	
	<insert id="agregarItemRentadoACliente">
		INSERT INTO VI_ITEMRENTADO(CLIENTES_documento,ITEMS_id,fechainiciorenta,fechafinrenta) 
			VALUES (#{clienteID},#{itemRentadoIDIT},#{itemRentadoFechainicio},#{itemRentadoFechaFin})
	</insert>
	
	
	<insert id="agregarCliente">
		INSERT INTO VI_CLIENTES(documento,nombre,telefono,direccion,email,vetado) 
		VALUES (#{cliente.documento},#{cliente.nombre},#{cliente.telefono},#{cliente.direccion},#{cliente.email},#{cliente.vetado})
		
	</insert>
	
	<update id="vetarCliente">
		UPDATE VI_CLIENTES c
		SET c.vetado=#{estado} WHERE c.documento=#{docucli}
	</update>
	
	
	<resultMap id = "ClienteResult" type = "Cliente">
		<id property = "documento" column = "documento"/>
		<result property = "nombre" column = "clienteNombre"/>
		<result property = "telefono" column = "telefono"/>
		<result property = "direccion" column = "direccion"/>
		<result property = "email" column = "email"/>
		<result property = "vetado" column = "vetado"/>
		<collection property='rentados' ofType='ItemRentado' resultMap="ItemRentadoResult"></collection>
	</resultMap>
	
	
	<resultMap id="ItemRentadoResult"  type="ItemRentado"  >
		<id property = "id" column = "itemRentadoID"/>
		<result property = "fechainiciorenta" column = "fechainiciorenta"/>
		<result property = "fechafinrenta" column = "fechafinrenta"/>
		<association property="item" javaType="Item" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"></association>  
	</resultMap>
	
	
	
	
</mapper>