<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper">
	<select parameterType="map" id="consultarItems" resultMap="ItemResult">
			SELECT  vi.id as itemID,
				ti.descripcion as tipoItemDescripcion,
				vi.nombre as itemNombre,
				vi.descripcion as itemDescripcion,
				vi.fechaLanzamiento,
				vi.tarifaxdia,
				vi.formatorenta,
				vi.genero,
				vi.id as tipoItemID	
			FROM VI_ITEMS as vi , VI_TIPOITEM as ti 
			WHERE vi.id = ti.id
			
	</select>
    
    
    <select parameterType="map" id="consultarItem" resultMap="ItemResult">
			SELECT  vi.id as itemID,
				ti.descripcion as tipoItemDescripcion,
				vi.nombre as itemNombre,
				vi.descripcion as itemDescripcion,
				vi.fechaLanzamiento,
				vi.tarifaxdia,
				vi.formatorenta,
				vi.genero,
				vi.id as tipoItemID	
			FROM VI_ITEMS as vi , VI_TIPOITEM as ti 
			WHERE vi.id = ti.id and vi.id = #{id}
	</select>
    

    
    <resultMap id = "ItemResult" type = "Item">
		<id property = "id" column = "itemID"/>
		<result property = "nombre" column = "itemNombre"/>
		<result property = "descripcion" column = "itemDescripcion"/>
		<result property = "fechaLanzamiento" column = "fechalanzamiento"/>
		<result property = "tarifaxDia" column = "tarifaxdia"/>
		<result property = "formatoRenta" column = "formatorenta"/>
		<result property = "genero" column = "genero"/>
		<association property="tipo" javaType="TipoItem" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult"></association>      
	</resultMap>

	
	<insert id="insertarItem">
		INSERT INTO VI_ITEMS(
		  id, nombre , descripcion ,
		 fechalanzamiento ,tarifaxdia , formatorenta , genero,TIPOITEM_id)
		VALUES 
		(#{item.id}, #{item.nombre}, #{item.descripcion},
		 #{item.fechaLanzamiento},	 #{item.tarifaxDia} , #{item.formatoRenta},
		 #{item.genero},#{item.tipo.id})
	</insert>

</mapper>