<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">
	<resultMap type="TipoItem" id="TipoItemResult">
		<id property="id" column="tipoItemID"/>
		<result property="descripcion" column="tipoItemDescripcion"/>
	</resultMap>


	<insert id="agregarTipoItem">
		INSERT INTO VI_TIPOITEM(id, descripcion)
			VALUES(#{tipoItem.id},#{tipoItem.descripcion});
	</insert>
	
	<select parameterType="map" id="getTipoItem" resultMap="TipoItemResult">
		SELECT
		ti.id as tipoItemID , ti.descripcion as tipoItemDescripcion
		FROM VI_TIPOITEM ti WHERE ti.id=#{id}
	</select>
	
	        
</mapper>